@import "./base.css";
@import "./typography.css";
@import "./markdown.css";

.main__section {
  padding: 2.5rem 4rem;
}
@media (max-width: 799px) {
  .main__section {
    padding: 2rem 2.5rem;
  }
}

.main__section--gray {
  background-color: var(--medium-gray);
}

.main__section--blue {
  background-color: var(--blue);
  color: var(--white);
}

.main__section--yellow {
  background-color: var(--yellow);
}

.main__section--blue h2 {
  color: var(--white);
}

.main__section:not(.main__section--yellow) h2 {
  margin-bottom: 2rem;
  position: relative;
}

.main__section:not(.main__section--yellow) h2:after {
  background-color: var(--yellow);
  bottom: -0.75rem;
  content: "";
  height: 6px;
  left: 0;
  position: absolute;
  width: 3rem;
}
